.nava{
    background: rgb(109, 109, 255);
}

.main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.item{
    margin: 10px;
}

.modal-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}